<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477050565556-amuasu804m4nlq7vua24kj5udmlgl6k9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477050565556-amuasu804m4nlq7vua24kj5udmlgl6k9</string>
	<key>API_KEY</key>
	<string>AIzaSyAUQhdEFWHJTCw-Jf_m_9OMW5GDPZ4CNBc</string>
	<key>GCM_SENDER_ID</key>
	<string>477050565556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helena.swipeAway2</string>
	<key>PROJECT_ID</key>
	<string>swipeaway-7195c</string>
	<key>STORAGE_BUCKET</key>
	<string>swipeaway-7195c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477050565556:ios:46d5dd19bcd343cde678e1</string>
	<key>DATABASE_URL</key>
	<string>https://swipeaway-7195c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>